.about {
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
  background: rgba(25, 29, 37, 0.88);
  box-shadow: 0 8px 32px -12px #00bfff44;
  border-radius: 16px;
  padding: 2.1rem 0.5rem 2.4rem;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(2.3px);
  transition: box-shadow .2s;
  margin-bottom: 5rem;
}
.about:hover {
  box-shadow: 0 16px 48px -18px #00e6ff88;
}
.about h2 {
  color: #00bfff;
  margin-bottom: 1.12rem;
  font-size: 2.1rem;
  background: linear-gradient(92deg,#00d8ff 65%,#fff 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: .5px;
}
.about p {
  max-width: 620px;
  margin: auto;
  color: #d0defb;
  font-weight: 500;
  font-size: 1.10rem;
  line-height: 1.65;
  letter-spacing: 0.02em;
}
.highlight {
  color: #00bfff;
  font-weight: 700;
}
