.projects {
  text-align: center;
  margin-top: 0;         /* Remove any default extra top margin */
  padding-top: 0.2rem;   /* Optionally add a small padding, or none */
}


.projects h2 {
  color: #00bfff;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 800px) {
  .grid {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}
